/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

hr {
  border-width: 3px;
  border-color: #ccc;
}

.vertical-align {
    display: flex;
    align-items: center;
}

ul {
  text-align: left;
}

li {
  list-style: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/
  overflow-x: hidden;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: rgba(120, 120, 120);
}

#background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -5;
  display: block;
  width: 100%;
  height: 100%;
  background: url(/img/fall-snow.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: blur(3px);
  filter: blur(3px);

  /* this does weird shit with MS Edge browser */
  /*filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: rgba(120, 120, 120, 0.7);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

p.lead {
  font-weight: 300;
}

img.author {
  width: 100px; height: 100px;
  margin-bottom: -100px;
  border: 10px solid #ccc;
  border-radius: 100%;
}

img.author.left {
  margin-left: -110px;
}

img.author.right {
  margin-right: -110px;
}

blockquote{
  /*display:block;*/
  background: rgba(65, 65, 65, 0.8);
  padding: 15px 20px 15px 45px !important;
  margin: 0 0px 20px 0;
  position: relative;
  z-index: 0;

  /*Font*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #ccc;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 0px solid #333;
  border-right: 0px solid #333;
  border-radius: 2px;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 5px #ccc;
  -webkit-box-shadow: 2px 2px 5px #ccc;
  box-shadow: 1px 1px 5px #222;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

ul.feature-list {
  list-style-type: none;
  overflow: auto;
}

ul.feature-list li {
  width: 300px;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}

ul.feature-list img {
  height: 110px;
  border: 1px solid #999;
  padding: 3px;
}

ul.feature-list p {
  margin: 0 20px 0 20px;
}

ul.oss-contribs {
  font-size: 16px;
  line-height: 1.4em;
}

iframe {
  width: 280px;
  height: 158px;
}

@media (min-width: 768px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

.lanyrd-icon {
  height: 1em;
}

/*
 * Footer
 */

 .mastfoot a {
   color: #999; /* IE8 proofing */
   color: rgba(255,255,255,.5);
 }

 .mastfoot i {
   margin: 10px 10px;
 }

 .mastfoot p {
   /*color: #777;*/
   color: rgba(255,255,255,0.3)
 }


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
    margin-bottom: 30px;
  }
  .mastfoot {
    /*position: fixed;*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
