<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Chris Castle">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Beauty -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:100|Open+Sans:300' rel='stylesheet' type='text/css'> -->
  <link href='/css/google-fonts.css' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome! -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/cover.css" rel="stylesheet">

  <!-- Begin Inspectlet Embed Code -->
  <script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 742101973]);
  (function() {
    function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
  })();
  </script>
  <!-- End Inspectlet Embed Code -->

  <!-- Begin Jaco code -->
  <script type="text/javascript">
  // (function(e, t) {
  //   var n = "JacoRecorder";
  //   (function(e, t, r, i) {
  //     if (!r.__VERSION) {
  //       function s(e, t) {
  //         e[t] = function() {
  //           e.q.push([ t ].concat(Array.prototype.slice.call(arguments, 0)));
  //         };
  //       }
  //       e[n] = r, r.q = [];
  //       var o = [ "init", "identify", "startRecording", "stopRecording", "removeUserTracking", "setUserInfo", "exec" ];
  //       for (var u = 0; u < o.length; u++) s(r, o[u]);
  //       r.__VERSION = .9, r.__INIT_TIME = 1 * new Date;
  //       var a = t.createElement("script");
  //       a.async = !0, a.setAttribute("crossorigin", "anonymous"), a.src = i;
  //       var f = t.getElementsByTagName("head")[0];
  //       f.appendChild(a);
  //     }
  //   })(e, t, e[n] || [], "//bo.getjaco.com/build/recorder.js");
  // })(window, document), JacoRecorder.init("4a94c410-40af-4cd2-a05f-7ae432505992", {});
  </script>
  <!-- End Jaco code -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
